DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,example.com
SECRET_KEY=supersecretkey123

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_HOST=host
POSTGRES_PORT=5432

TELEGRAM_BOT_TOKEN=12345:abcABC
TELEGRAM_BOT_SECRET_TOKEN=supersecrettoken123
TELEGRAM_WEBHOOK_SECRET_TOKEN=supersecretwebhooktoken123

REDIS_URL=redis://host:port/0
CELERY_RESULT_BACKEND=redis://host:port/1
